* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  place-content: center;
}

main {
  margin: 16px;
  max-width: 600px;
}

h1 {
  margin-bottom: 16px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form section {
  background-color: beige;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(3, 1fr);
  padding: 16px;
}

form section input:first-child {
  grid-column: 1 / 4;
}

form footer {
  display: flex;
  justify-content: space-between;
}
